<div class="container">

    <div class="row">
        
        <!-- item -->
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail">
                <div class="page-header"><h4>Dealer Card</h4></div>
                <div class="img-wrapper">
                    <img [src]="delarImg" alt="Dealer Card">
                </div>
                
            </div>
        </div>
            
        <!-- item -->
        <div class="col-xs-6 col-sm-3">
            <div class="page-header"><h4>My Card</h4></div>
            <div class="thumbnail">
                <div class="img-wrapper">
                    <img [src]="userImg" alt="My Card" (load)="onLoad()">
                </div>
                <br/>
                <div class="caption text-center" *ngIf="loading">
                    <button type="button" class="btn btn-primary" *ngIf="remainingflag" (click)="getNextcard('high')">Higher</button>
                    <button type="button" class="btn btn-primary" *ngIf="remainingflag" (click)="getNextcard('low')">Lower</button>
                    <div [class]="alertStatus" *ngIf="!remainingflag">{{statusmessage}}</div>
                   
                    <button type="button" class="btn btn-link" *ngIf="!remainingflag" (click)="tryagaincard()">Try Again
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
</div>